.jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    background: #512d91;
    color: rgba(255, 250, 240, 0.87);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px;
  }

  .row-content{
     padding-top: 1em;
     padding-bottom: 1em;
  }

  .btn-styled {
     margin-top: 1em;
     margin-bottom: 2em;
  }


.container-blog{
  margin-top: 5em;
  margin-bottom: 5em;
}